body{
  font-family: 'Inter', sans-serif;
}
.main-text{
  font-size: 38px;
}
.bg-gray{
  background-color: #ECECEC;
}
.text-gray{
  color: #696F79;
}
.div-body{
  padding: 1rem;
}
label{
  font-weight: 500;
}
.font-semibold{
  font-weight: 600;
}
.text-second{
  color: #01112C;
  font-size:32px ;
}
.footer {
  position:absolute;
  right:16px;
  bottom:8px;
  
}
.footer img {
  margin: 30px;
}
.forgot{
  cursor: pointer;
  font-weight: 600;
}
.modal-header, .modal-body, .modal-footer{
  border: 0;
}
 /* Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) { 
  .div-body{
    padding: 50px 40px;
  }
  .main-body{
    padding: 40px;
    height: 100%;
  }
}
.container-fluid, .min-row{
  min-height: 100vh!important;
}
